In [1]:
import pandas as pd
import numpy as np
from pandasql import sqldf 
from datetime import timedelta

mysql = lambda q: sqldf(q, globals())

In [2]:
try:
    start_time = datetime.now()
    db_connection_str = 'mysql+pymysql://browser:curious@open-energy.durham.ac.uk/EngieGreen'
    db_connection = create_engine(db_connection_str,pool_timeout=30)
    data = pd.read_sql("SELECT * FROM LHB WHERE Wind_turbine_name='R80721'", con=db_connection)
    db_connection.dispose()
    end_time = datetime.now()
except:
    data = pd.read_csv("data.csv",index_col=0)
data.sort_values(by='Date_time',inplace=True)

In [3]:
data = data[['Date_time','P_avg','Q_avg','Va2_avg','Git_avg','Ot_avg','Ws2_avg','Nf_avg','Nu_avg', 'Dst_avg','Wa_c_avg',
'DCs_avg','Yt_avg','Na_c_avg','Ya_avg','Rm_avg','Rs_avg','Gb2t_avg','Wa_avg','Ba_avg','Ds_avg','Va_avg',
'Db2t_avg','Cm_avg','Rt_avg','Ws1_avg','S_avg','Cosphi_avg','Gb1t_avg','Db1t_avg','Va1_avg','Rbt_avg','Gost_avg']]

In [4]:
data

,Date_time,P_avg,Q_avg,Va2_avg,Git_avg,Ot_avg,Ws2_avg,Nf_avg,Nu_avg,Dst_avg,...,Cm_avg,Rt_avg,Ws1_avg,S_avg,Cosphi_avg,Gb1t_avg,Db1t_avg,Va1_avg,Rbt_avg,Gost_avg
6496,2012-12-31 23:00:00,679.69,75.39,0.00,44.70,5.72,7.38,50.01,712.23,60.32,...,3770.20,15.87,7.13,684.16,0.99,68.28,40.87,0.00,25.89,54.55
6492,2012-12-31 23:10:00,867.41,78.32,0.00,46.96,5.94,7.93,49.96,712.56,58.65,...,4621.29,15.97,7.60,871.15,1.00,68.86,39.34,0.00,25.90,54.31
1924,2012-12-31 23:20:00,948.93,83.23,0.00,48.11,6.17,8.13,49.99,713.52,59.40,...,5028.09,15.99,7.90,952.71,1.00,69.75,40.32,0.00,25.90,54.44
6493,2012-12-31 23:30:00,1099.06,82.70,0.00,48.73,6.43,8.68,50.00,713.42,61.48,...,5813.69,16.00,8.54,1102.31,1.00,70.95,41.51,0.00,25.93,54.72
83459,2012-12-31 23:40:00,1003.62,86.13,0.00,48.87,6.53,8.60,49.98,711.66,62.76,...,5322.68,16.00,8.49,1007.48,1.00,71.01,42.66,0.00,25.99,54.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263681,2018-01-12 22:20:00,76.52,20.17,6.43,52.73,3.80,4.69,49.99,706.67,53.90,...,1008.54,16.00,4.40,79.25,0.98,61.33,38.51,6.43,25.00,53.05
262463,2018-01-12 22:30:00,8.41,2.22,6.55,52.58,3.42,3.49,50.03,703.95,55.07,...,367.00,16.00,2.21,10.93,1.00,59.85,39.51,6.55,25.04,52.91
264237,2018-01-12 22:40:00,0.00,0.84,7.83,52.41,3.15,2.43,50.02,701.19,56.79,...,112.18,16.00,0.42,12.70,1.00,58.76,40.45,7.83,25.06,52.84
262464,2018-01-12 22:50:00,0.00,0.00,-1.02,51.17,2.84,1.98,50.01,701.54,57.81,...,3.37,15.12,1.58,2.61,1.00,55.72,41.27,-1.02,25.01,52.52
262465,2018-01-12 23:00:00,0.00,0.01,10.30,50.46,2.71,2.08,50.01,700.91,57.40,...,3.33,14.94,1.61,2.55,1.00,53.04,41.58,10.30,24.73,51.88

In [5]:
query = """
    SELECT 
        a.*,
        b.Gost_avg as Gost_avg_one_weeks,
        c.Gost_avg as Gost_avg_two_weeks,
        d.Gost_avg as Gost_avg_three_weeks,
        e.Gost_avg as Gost_avg_four_weeks
    FROM data a
    LEFT JOIN data b
        ON b.Date_time = datetime(a.Date_time, '+7 day') 
    LEFT JOIN data c
        ON c.Date_time = datetime(a.Date_time, '+14 day') 
    LEFT JOIN data d
        ON d.Date_time = datetime(a.Date_time, '+21 day') 
    LEFT JOIN data e
        ON e.Date_time = datetime(a.Date_time, '+28 day') 
    ;
"""

In [6]:
data = mysql(query)

In [7]:
data

,Date_time,P_avg,Q_avg,Va2_avg,Git_avg,Ot_avg,Ws2_avg,Nf_avg,Nu_avg,Dst_avg,...,Cosphi_avg,Gb1t_avg,Db1t_avg,Va1_avg,Rbt_avg,Gost_avg,Gost_avg_one_weeks,Gost_avg_two_weeks,Gost_avg_three_weeks,Gost_avg_four_weeks
0,2012-12-31 23:00:00,679.69,75.39,0.00,44.70,5.72,7.38,50.01,712.23,60.32,...,0.99,68.28,40.87,0.00,25.89,54.55,29.12,52.28,56.08,50.75
1,2012-12-31 23:10:00,867.41,78.32,0.00,46.96,5.94,7.93,49.96,712.56,58.65,...,1.00,68.86,39.34,0.00,25.90,54.31,28.65,53.26,56.27,51.17
2,2012-12-31 23:20:00,948.93,83.23,0.00,48.11,6.17,8.13,49.99,713.52,59.40,...,1.00,69.75,40.32,0.00,25.90,54.44,28.40,53.15,56.60,50.19
3,2012-12-31 23:30:00,1099.06,82.70,0.00,48.73,6.43,8.68,50.00,713.42,61.48,...,1.00,70.95,41.51,0.00,25.93,54.72,28.19,53.22,57.35,49.26
4,2012-12-31 23:40:00,1003.62,86.13,0.00,48.87,6.53,8.60,49.98,711.66,62.76,...,1.00,71.01,42.66,0.00,25.99,54.77,28.55,53.44,57.87,49.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265219,2018-01-12 22:20:00,76.52,20.17,6.43,52.73,3.80,4.69,49.99,706.67,53.90,...,0.98,61.33,38.51,6.43,25.00,53.05,NaN,NaN,NaN,NaN
265220,2018-01-12 22:30:00,8.41,2.22,6.55,52.58,3.42,3.49,50.03,703.95,55.07,...,1.00,59.85,39.51,6.55,25.04,52.91,NaN,NaN,NaN,NaN
265221,2018-01-12 22:40:00,0.00,0.84,7.83,52.41,3.15,2.43,50.02,701.19,56.79,...,1.00,58.76,40.45,7.83,25.06,52.84,NaN,NaN,NaN,NaN
265222,2018-01-12 22:50:00,0.00,0.00,-1.02,51.17,2.84,1.98,50.01,701.54,57.81,...,1.00,55.72,41.27,-1.02,25.01,52.52,NaN,NaN,NaN,NaN
265223,2018-01-12 23:00:00,0.00,0.01,10.30,50.46,2.71,2.08,50.01,700.91,57.40,...,1.00,53.04,41.58,10.30,24.73,51.88,NaN,NaN,NaN,NaN

In [8]:
data = data.dropna()

In [9]:
data

,Date_time,P_avg,Q_avg,Va2_avg,Git_avg,Ot_avg,Ws2_avg,Nf_avg,Nu_avg,Dst_avg,...,Cosphi_avg,Gb1t_avg,Db1t_avg,Va1_avg,Rbt_avg,Gost_avg,Gost_avg_one_weeks,Gost_avg_two_weeks,Gost_avg_three_weeks,Gost_avg_four_weeks
0,2012-12-31 23:00:00,679.69,75.39,0.00,44.70,5.72,7.38,50.01,712.23,60.32,...,0.99,68.28,40.87,0.00,25.89,54.55,29.12,52.28,56.08,50.75
1,2012-12-31 23:10:00,867.41,78.32,0.00,46.96,5.94,7.93,49.96,712.56,58.65,...,1.00,68.86,39.34,0.00,25.90,54.31,28.65,53.26,56.27,51.17
2,2012-12-31 23:20:00,948.93,83.23,0.00,48.11,6.17,8.13,49.99,713.52,59.40,...,1.00,69.75,40.32,0.00,25.90,54.44,28.40,53.15,56.60,50.19
3,2012-12-31 23:30:00,1099.06,82.70,0.00,48.73,6.43,8.68,50.00,713.42,61.48,...,1.00,70.95,41.51,0.00,25.93,54.72,28.19,53.22,57.35,49.26
4,2012-12-31 23:40:00,1003.62,86.13,0.00,48.87,6.53,8.60,49.98,711.66,62.76,...,1.00,71.01,42.66,0.00,25.99,54.77,28.55,53.44,57.87,49.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261187,2017-12-15 22:20:00,293.59,44.00,5.70,51.87,2.51,5.95,49.97,705.74,53.11,...,0.99,67.10,39.53,5.70,27.80,58.03,25.57,55.50,57.54,53.05
261188,2017-12-15 22:30:00,375.33,51.77,8.35,50.85,2.56,6.30,50.00,707.60,53.51,...,0.99,65.94,39.91,8.35,27.77,56.86,25.58,55.40,57.55,52.91
261189,2017-12-15 22:40:00,343.03,48.48,5.98,50.29,2.67,6.00,49.99,707.28,53.77,...,0.99,66.05,40.28,5.98,27.79,56.29,25.64,56.27,57.67,52.84
261190,2017-12-15 22:50:00,356.12,46.98,3.66,49.70,2.72,6.14,50.02,707.79,54.09,...,0.99,65.62,40.61,3.66,27.80,55.64,25.62,56.66,57.80,52.52
261191,2017-12-15 23:00:00,254.62,45.67,-6.23,53.79,2.79,5.78,50.00,707.83,54.49,...,0.98,65.06,41.10,-6.23,27.81,55.59,25.73,58.29,57.81,51.88

In [11]:
data = data.drop(columns=["Date_time"])

In [12]:
data

,P_avg,Q_avg,Va2_avg,Git_avg,Ot_avg,Ws2_avg,Nf_avg,Nu_avg,Dst_avg,Wa_c_avg,...,Cosphi_avg,Gb1t_avg,Db1t_avg,Va1_avg,Rbt_avg,Gost_avg,Gost_avg_one_weeks,Gost_avg_two_weeks,Gost_avg_three_weeks,Gost_avg_four_weeks
0,679.69,75.39,0.00,44.70,5.72,7.38,50.01,712.23,60.32,184.16,...,0.99,68.28,40.87,0.00,25.89,54.55,29.12,52.28,56.08,50.75
1,867.41,78.32,0.00,46.96,5.94,7.93,49.96,712.56,58.65,183.42,...,1.00,68.86,39.34,0.00,25.90,54.31,28.65,53.26,56.27,51.17
2,948.93,83.23,0.00,48.11,6.17,8.13,49.99,713.52,59.40,186.98,...,1.00,69.75,40.32,0.00,25.90,54.44,28.40,53.15,56.60,50.19
3,1099.06,82.70,0.00,48.73,6.43,8.68,50.00,713.42,61.48,189.03,...,1.00,70.95,41.51,0.00,25.93,54.72,28.19,53.22,57.35,49.26
4,1003.62,86.13,0.00,48.87,6.53,8.60,49.98,711.66,62.76,192.48,...,1.00,71.01,42.66,0.00,25.99,54.77,28.55,53.44,57.87,49.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261187,293.59,44.00,5.70,51.87,2.51,5.95,49.97,705.74,53.11,0.00,...,0.99,67.10,39.53,5.70,27.80,58.03,25.57,55.50,57.54,53.05
261188,375.33,51.77,8.35,50.85,2.56,6.30,50.00,707.60,53.51,0.00,...,0.99,65.94,39.91,8.35,27.77,56.86,25.58,55.40,57.55,52.91
261189,343.03,48.48,5.98,50.29,2.67,6.00,49.99,707.28,53.77,0.00,...,0.99,66.05,40.28,5.98,27.79,56.29,25.64,56.27,57.67,52.84
261190,356.12,46.98,3.66,49.70,2.72,6.14,50.02,707.79,54.09,0.00,...,0.99,65.62,40.61,3.66,27.80,55.64,25.62,56.66,57.80,52.52
261191,254.62,45.67,-6.23,53.79,2.79,5.78,50.00,707.83,54.49,0.00,...,0.98,65.06,41.10,-6.23,27.81,55.59,25.73,58.29,57.81,51.88